html {
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

span.error {
    color: red !important;
}

.ck.ck-content {
    height: 200px;
}

div.productAdded {
    position: absolute;
    bottom: 5px;
    left: 110px;
}

.hide {
    display: none;
}

div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
}

div.overlay > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

form#paypalform {
    display: none;
    position: absolute;
}